.header-top {
    margin-top: 55px;
}
.white-font {
    color: white;
}
body {
    background-image: linear-gradient(to bottom,#959fb1 0,#265a88 100%);
}

.btn-theme {
    background-image: linear-gradient(to bottom,#a8b1e0 0,#043104 100%);    
}
* {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  .disabledTitle {
    
    opacity: 0.1 !important;
  }

  .autocomplete-items {
    
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .mb30{
      margin-bottom: 30px;
  }

  .ml20{
      margin-left: 20px;
  }

  #lines{
      list-style: circle;
  }
  .hide{
      display:none;
  }
  .heading {
      font-size: 23px;
  }
  
  